li a {
	color: #BDFEDB;
}

h1 a {
    color: #FCA205;
    font-family: 'Life Savers';
    margin-bottom: none;
}

h1, h2, h3, h4 {
    font-family: 'Life Savers';
    color: #D6F9EF;
}

body {
    background: #2a2a2a;
    font-family: 'PT Serif', serif;
    font-size: 16px;
    color: white;
}

.page-header {
    margin-top: 0;
    margin-bottom: 0;
    background: white url("images/grey-background.png") no-repeat right bottom;
    line-height: 50px;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-row {
    padding: 0% 5%;
}

.title {
	vertical-align: middle;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #41BA86;
    font-size: 36pt;
    text-decoration: none;
}

.navbar-inverse {
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 5%;
}

.navbar-brand {
    background: url(images/world-logo.png) left / contain no-repeat;
    width: 80px;
    height: 45px;
}

html,body {
	height:100%;
}

.footer {
    margin-top: 100px;
    margin-right: 0px;
    margin-left: 0px;
    color: #3c3c3c;
    text-align: center;
    left: 0;
    right: 0;
    line-height: 50px;
    border-top: solid 1px #101010;
    background-color: #90d5ee;
} 

.footer-text {
	vertical-align: middle;
	margin-bottom: 0px;
}

.pic-grid {
	padding-bottom: 8px;
    padding-right: 0px;
    padding-left: 10px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: hidden; 
}

.panel-body {
    color: black;
}

.small-print {
    font-size: 9px;
    margin-bottom: 0px;
}

.panel-heading {
    background-color: green;
}

.weather-panel {
    background-color: #DDDDDD;
    text-align: center;
}

.weather-panel h4 {
    color: black;
}

.pic-gallery {
    padding-top: 25px;
}
